Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.log
config.status
config.sub
configure
.deps
.libs
*.o
*.lo
*.la
*.orig
*.rej
*.bz2
*.gz
*~
libusb-config
libusb.pc
missing
stamp-h1
ltmain.sh
m4
install-sh
compile
depcomp
examples/lsusb
examples/testlibusb
config.h.in
libtool
